*{font: avenir;}
body {
    margin: 0;
    background-color: #040714;

}
/* Header Styling */

header {
    background-image: url(".images/disney+bg.jpeg");
    display: flex;
    flex-direction: column;
}

#bundle {
    align-self: center;
    text-align: center;
}

#bundle img {
    height: 10vh;
}

#banner {
    display: flex;
    flex-direction: column;
}

#banner img {
    height: 5vh
}
/*Navigation Styling */
nav{
    display: flex;
    justify-content: space-between;
}
nav img {
    width: 75px;
}

nav button {
    border: none;
    color: #0063e5;
    background: none;
}